<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
<h2 class="author-name" style="font-size: 1.8em; font-weight: bold;">
  Air Quality Data Science Group @ the 
  <a href="https://atmos.utah.edu/" target="_blank" style="display: inline-block; vertical-align: middle;">
    <img src="/assets/img/BlockU_RGB.jpg" alt="The U"
         style="height: 1.25em; margin-left: 4px; position: relative; top: -2px;" />
  </a>
</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
</div>





<!-- <div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
</div> -->
