@font-face {
  font-family: 'halyard-display';
  src: url('https://use.typekit.net/af/1bd678/00000000000000007757e1d7/30/l?subset_id=2&fvd=n3&v=3') format('woff2'),
       url('https://use.typekit.net/af/1bd678/00000000000000007757e1d7/30/d?subset_id=2&fvd=n3&v=3') format('woff'),
       url('https://use.typekit.net/af/1bd678/00000000000000007757e1d7/30/a?subset_id=2&fvd=n3&v=3') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

@font-face {
  font-family: 'halyard-display';
  src: url('https://use.typekit.net/af/68cefb/00000000000000007757e165/30/l?subset_id=2&fvd=n7&v=3') format('woff2'),
       url('https://use.typekit.net/af/68cefb/00000000000000007757e165/30/d?subset_id=2&fvd=n7&v=3') format('woff'),
       url('https://use.typekit.net/af/68cefb/00000000000000007757e165/30/a?subset_id=2&fvd=n7&v=3') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

@font-face {
  font-family: 'halyard-display';
  src: url('https://use.typekit.net/af/fd46d3/00000000000000007757e15c/30/l?subset_id=2&fvd=i3&v=3') format('woff2'),
       url('https://use.typekit.net/af/fd46d3/00000000000000007757e15c/30/d?subset_id=2&fvd=i3&v=3') format('woff'),
       url('https://use.typekit.net/af/fd46d3/00000000000000007757e15c/30/a?subset_id=2&fvd=i3&v=3') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
}

@font-face {
  font-family: 'halyard-display';
  src: url('https://use.typekit.net/af/b198f4/00000000000000007757e158/30/l?subset_id=2&fvd=i7&v=3') format('woff2'),
       url('https://use.typekit.net/af/b198f4/00000000000000007757e158/30/d?subset_id=2&fvd=i7&v=3') format('woff'),
       url('https://use.typekit.net/af/b198f4/00000000000000007757e158/30/a?subset_id=2&fvd=i7&v=3') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
}

body {
  font-family: 'halyard-display', sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}


// Fonts preferences
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 18px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//Light Colors
$text-base-color: #434648;
$text-link-blue: #003fff;
$text-link-blue-active: #0036c7;

$black: #0d122b;
$light: #ececec;
$smoke: #d2c7c7;
$gray: #6b7886;
$white: #fff;

// Dark Colors
$dark-text-base-color: #c7bebe;
$dark-text-link-blue: #ff5277;
$dark-text-link-blue-active: #ff2957;

$dark-black: #131418;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$dark-gray: #767f87;

// Width of the content area
$wide-size: 2000px; //890px
$narrow-size: 800px;

// Padding unit
$spacing-full: 20px; //30px
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "klise/fonts", "klise/base", "klise/layout", "klise/post",
  "klise/miscellaneous", "klise/syntax", "klise/dark";
